/* Container for centering the content */
.update-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Full viewport height */
    padding: 20px;
    background-color: #f7f7f7; /* Light gray background */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
  }
  
  /* Content container */
  .update-password-content {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: #fff; /* White background for content */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
  }
  
  /* Heading style */
  .update-password-content h3 {
    border-bottom: 2px solid #5a5a4f; /* Olive-brown border */
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: #3a3a2a; /* Olive-brown text color */
    text-align: center;
  }
  
  /* Label style */
  .update-password-content label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px; /* Larger label font size */
    color: #3a3a2a; /* Olive-brown text color */
    font-weight: bold;
  }
  
  /* Input field container style */
  .update-password-input-container {
    display: flex;
    align-items: center; /* Center items vertically */
    margin-bottom: 20px; /* Margin for spacing */
  }
  
  /* Input field style */
  .update-password-input { /* Grow to take available space */
    padding: 12px;
    padding-right: 42%; /* Space for the eye icon */
    border-radius: 4px;
    border: 1px solid #d1d0c5; /* Light olive-brown border */
    font-size: 25px; /* Larger text size */
    color: #2d5649; /* Green text color */
  }
  
  /* Eye icon style */
  .update-password-eye-icon {
    margin-left: -40px; /* Move icon to the left within the input */
    color: #888; /* Gray color for icons */
    cursor: pointer;
  }
  
  /* Button wrapper style */
  .update-password-button-wrapper {
    text-align: center;
  }
  
  /* Button style */
  .update-password-button {
    padding: 15px 30px; /* Larger padding for the button */
    border: none;
    border-radius: 5px;
    background-color: #5a5a4f; /* Olive-brown button */
    color: #fff;
    font-size: 25px; /* Larger font size for button text */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Smooth color transition */
  }
  
  /* Disabled button style */
  .update-password-button-disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  /* Button hover effect */
  .update-password-button:hover {
    background-color: var(--green); /* Darker olive-brown on hover */
  }
  