.howitworks {
    background: var(--cream); /* Cream background for the section */
  }
  
  .howitworks .container {
    max-width: 1500px;
    min-width: 1500px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    padding: 50px 0;
    gap: 50px;
  }
  
  .howitworks .container h3 {
    color: var(--olive); /* Olive color for the section heading */
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
  }
  
  .howitworks .container .banner {
    display: flex;
    justify-content: space-between;
    gap: 25px;
  }
  
  .howitworks .container .banner .card {
    background: var(--light-cream); /* Light cream background for the cards */
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    flex: 1;
    height: 350px;
    padding: 30px 50px;
    gap: 12px;
    justify-content: center;
    border-radius: 10px; /* Rounded corners */
    border: 1px solid var(--light-green); /* Light green border */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .howitworks .container .banner .card:nth-child(2) {
    background: #b99475 ;/* Olive background for the middle card */
    color: var(--cream); /* Cream text color */
  }
  
  .howitworks .container .banner .card svg {
    font-size: 30px;
    color: var(--dark-green); /* Dark green color for icons */
  }
  
  .howitworks .container .banner .card p:first-child {
    font-weight: bold;
    color: var(--olive); /* Olive color for card titles */
  }
  
  .howitworks .container .banner .card p:last-child {
    font-size: 14px;
    color: var(--dark-green); /* Dark green color for descriptions */
  }
  
  .howitworks .container .banner .card:hover {
    transform: translateY(-5px); /* Slight lift effect on hover */
    box-shadow: 2px 10px 15px rgba(0, 0, 0, 0.2); /* Shadow effect on hover */
    background: var(--light-green); /* Light green background on hover */
    color: var(--cream); /* Cream text color on hover */
  }
  
  @media (max-width: 1520px) {
    .howitworks .container {
      min-width: 100%;
      padding: 50px 20px;
    }
  }
  
  @media (max-width: 850px) {
    .howitworks .container .banner {
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .howitworks .container .banner .card {
      flex: none;
      width: 400px;
      height: 320px;
    }
  }
  
  @media (max-width: 480px) {
    .howitworks .container .banner .card {
      width: 100%;
    }
  }
  